extends layout

block content
  .container
    if (!user)
      a(href="/login") LoginSSS
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout

  script(src='/socket.io/socket.io.js')
  script(type="text/javascript").
    var socket = io.connect('http://localhost:9090');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('EVENT_FROM_FRONT_END', { data: 'EVENT_FROM_FRONT_END' });
    });
